MYSQL_DATABASE=churrasplan
MYSQL_USER=churrasplan
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_PORT=3306
APP_PORT=8080
SECURITY_PEPPER=gere-um-segredo-aleatorio-com-mais-de-32-caracteres

# Produção
PUBLIC_APP_URL=https://churrasplan.example.com
CORS_ORIGINS=https://churrasplan.example.com
TRUSTED_HOSTS=churrasplan.example.com
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=ChurrasPlan <no-reply@churrasplan.example.com>

# Geoapify
GEOAPIFY_ENABLED=True
GEOAPIFY_SERVER_API_KEY=9b935e8a5ef243daa9793631c70e1e30
GEOAPIFY_MAP_API_KEY=https://maps.geoapify.com/v1/tile/carto/{z}/{x}/{y}.png?&apiKey=9b935e8a5ef243daa9793631c70e1e30
